@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>


<address>
    Universidade Tecnológica Federal do Paraná<br />
    Av. Sete de Setembro, 3165<br />
   @** <abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Diego F. Nascimento:</strong>   <a href="mailto:dfnascimento@gmail.com">dfnascimento@gmail.com</a><br />
    <strong>Aline Jordão:</strong> <a href="mailto:alihhj@gmail.com">alihhj@gmail.com</a>
</address>