@{
    ViewBag.Title = " PROJETO CANVAS";
}

<hgroup class="title">
  
    <h2>@ViewBag.Message</h2>
</hgroup>



<aside>
      <ul>

        <li>@Html.ActionLink("Login", "Index", "PNAlunoes")</li>
        <li>@Html.ActionLink("Cadastro", "Create", "PNAlunoes")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>